* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-contact {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background-color: #304f47;
  color: #fff;
  align-items: center;
}

.left {
  display: flex;
  gap: 1rem;

  span {
    display: flex;
    font-size: 1.25rem;
    gap: 0.2rem;

    p {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 0.83rem;
    }
  }
}

.right {
  display: flex;
  gap: 0.4rem;
  font-size: 0.7rem;
}

.icon {
  justify-items: center;
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.6rem;
}

.navabar {
  display: flex;
  align-items: center;
  padding: 0.6rem 2.5rem;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  img {
    width: 6rem;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7rem;

  nav {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 1rem;

    a {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      display: flex;
      color: #000;
      text-decoration: none;
      align-items: center;

      &:hover {
        transition: 0.5s ease-in-out;
        color: #304f47;
        border-bottom: 2px solid transparent;
        animation: fade-in 0.5s ease-in-out forwards;
      }
    }
  }
}

@keyframes fade-in {
  from {
    border-bottom-color: transparent;
  }
  to {
    border-bottom-color: #304f47;
  }
}

.sign-in {
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  background-color: #c7923e;
  color: #fff;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1rem;
  font-family: monospace;
}

.hero {
  height: 79vh;
  background-image: url('https://wallpapercave.com/dwp1x/wp12812509.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #fff;
  padding-left: 136px;
  align-items: center;

  h1 {
    font-size: 62px;
    line-height: 74.4px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
  }
}